<div class="small-card-container">
    <div class="small-card-content">
        <div class="small-card-photo">
            <img class="small-card-photo-img"
                src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg">
        </div>
        <div class="small-card-datas">
            <div class="small-card-date">
                <p>January 31, 2022</p>
            </div>
            <div class="small-card-title">
                <h3><a href="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque, accusamus.</a></h3>
            </div>
        </div>
    </div>
    <div class="small-card-separator">
        <hr>
    </div>
</div>


